<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/output.css">

    <style>
        .section1 {
            background-image: url('https://img.freepik.com/free-vector/dark-wavy-colors-background_23-2148403785.jpg?ga=GA1.1.2119263465.1737454592&semt=ais_hybrid&w=740');
        }
    </style>
</head>

<body>
    <nav class="flex justify-around bg-black text-white p-5">
        <div class="logo">LOGO</div>
        <ul class="flex gap-5">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Services</a></li>
        </ul>

    </nav>

    <!-- HeroSection -->

    <div class="section1 flex gap-14 text-white text-center items-center" style="height:400px;">
        <div>
            <h1 class="text-2xl font-bold">Lorem ipsum dolor sit amet.</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde iusto eveniet, ut voluptatibus ratione
                quos corrupti sed accusantium voluptate at illum ipsa temporibus ad, </p>
            <button class="bg-white mt-2 text-black p-2 rounded-md">Click me </button>
        </div>

    </div>

    <!-- cards -->
    <div class="mt-12">
        <h1 class="text-center text-2xl font-bold">Lorem ipsum dolor sit amet.</h1>
        <div class="empty bg-black" style="width: 200px; height: 3px; margin: auto;"></div>

        <!-- cards -->
        <div class="mainCards  flex gap-12 flex-wrap">
            <div class="cards  mt-15 " style="width: 300px; height: 300px;">
                <div class="card bg-blue-100 rounded-2xl">
                    <img src="https://img.freepik.com/free-vector/cute-lion-astronaut-cartoon-vector-icon-illustration-animal-science-icon-isolated-flat-vector_138676-12278.jpg?t=st=1744806621~exp=1744810221~hmac=bdc7f15124fe777dbcb7e22071cf1b704c4d6079dd830ef77a6207ab6cbad81b&w=900"
                        alt="">
                    <div class="text-center">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus maxime
                            accusantium soluta eum.
                            Veritatis accusamus ?</p>
                        <a href="#" class="text-blue-600 text-2xl font-bold">Read More..</a>
                    </div>
                </div>
            </div>

            <div class="cards  mt-56 " style="width: 300px; height: 300px;">
                <div class="card bg-blue-100 rounded-2xl">
                    <img src="https://img.freepik.com/free-vector/cute-lion-astronaut-cartoon-vector-icon-illustration-animal-science-icon-isolated-flat-vector_138676-12278.jpg?t=st=1744806621~exp=1744810221~hmac=bdc7f15124fe777dbcb7e22071cf1b704c4d6079dd830ef77a6207ab6cbad81b&w=900"
                        alt="">
                    <div class="text-center">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus maxime
                            accusantium soluta eum.
                            Veritatis accusamus ?</p>
                        <a href="#" class="text-blue-600 text-2xl font-bold">Read More..</a>
                    </div>
                </div>
            </div>



            <div class="cards  mt-15 " style="width: 300px; height: 300px;">
                <div class="card bg-blue-100 rounded-2xl">
                    <img src="https://img.freepik.com/free-vector/cute-lion-astronaut-cartoon-vector-icon-illustration-animal-science-icon-isolated-flat-vector_138676-12278.jpg?t=st=1744806621~exp=1744810221~hmac=bdc7f15124fe777dbcb7e22071cf1b704c4d6079dd830ef77a6207ab6cbad81b&w=900"
                        alt="">
                    <div class="text-center">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus maxime
                            accusantium soluta eum.
                            Veritatis accusamus ?</p>
                        <a href="#" class="text-blue-600 text-2xl font-bold">Read More..</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- <div class="box bg-amber-700" style="width: 300px; height: 400px;">
        <p class=""
            style="height: 100%; background-image: url('https://img.freepik.com/free-vector/dark-wavy-colors-background_23-2148403785.jpg?ga=GA1.1.2119263465.1737454592&semt=ais_hybrid&w=740');">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
            minus repudiandae
            perspiciatis, eligendi
            quod, rem dolore repellendus architecto tempora enim quibusdam ipsum, voluptatibus harum ea officia
            reprehenderit vel dicta temporibus?</p>
    </div> -->
</body>

</html>